<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
            android:name="android.hardware.camera"
            android:required="false"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission
            android:name="android.permission.QUERY_ALL_PACKAGES"
            tools:ignore="QueryAllPackagesPermission"/>
    <uses-permission
            android:name="android.permission.READ_EXTERNAL_STORAGE"
            android:maxSdkVersion="32"/>
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="28"/>
    <uses-permission android:name="com.termux.permission.RUN_COMMAND"/>

    <queries>
        <package android:name="com.termux"/>
        <intent>
            <action android:name="android.speech.action.RECOGNIZE_SPEECH"/>
        </intent>
        <intent>
            <action android:name="android.speech.RecognitionService"/>
        </intent>
    </queries>

    <application
            android:name=".BlueHeartVApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Echo"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:usesCleartextTraffic="true"
            android:theme="@style/Theme.BlueHeartV"
            tools:targetApi="34">
        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:windowSoftInputMode="adjustResize"
                android:theme="@style/Theme.BlueHeartV">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
                android:name=".floating.FloatingBallService"
                android:exported="false"
                android:foregroundServiceType="specialUse"/>

        <activity
                android:name=".floating.FloatingHelperActivity"
                android:exported="false"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:excludeFromRecents="true"
                android:taskAffinity=""/>

        <service
            android:name=".system.SystemService"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

        <service
            android:name=".control.AdbWebSocketService"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

        <provider
                android:name="rikka.shizuku.ShizukuProvider"
                android:authorities="${applicationId}.shizuku"
                android:multiprocess="false"
                android:enabled="true"
                android:exported="true"
                android:permission="android.permission.INTERACT_ACROSS_USERS_FULL"/>

        <service
                android:name=".control.AdbAccessibilityService"
                android:exported="true"
                android:label="@string/accessibility_service_label"
                android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                    android:name="android.accessibilityservice"
                    android:resource="@xml/adb_accessibility_service"/>
        </service>
    </application>

</manifest>
